@import "./variables";
body {
    background-color: $standard-secondary-color-light;
}

.main {
    padding-top: 64px;
}

.list-document {
    background-color: $standard-light-gray;
    color: $standard-primary-color-light;
}

.mdc-list-item__graphic {
    color: #ffffff;
    margin-right: 16px;
    border-radius: 100%;
}

.standard-card {
    margin: $standard-margin;
    padding: $standard-padding;
}

.standard-card-dense {
    margin: $standard-margin-dense 0; //trbl
    padding: 0;
}

.standard-button {
    margin: $standard-margin 0;
}

.standard-mono {
    font-family: 'Roboto Mono', monospace;
}
