@import "./variables";
body {
    background-color: $standard-secondary-color-light;
}

.main {
    padding-top: 64px;
}

.standard-card {
    margin: $standard-margin;
    padding: $standard-padding;
}

.standard-card-dense {
    margin: 12px 0; //trbl
    padding: 0;
}

.standard-mono {
    font-family: 'Roboto Mono', monospace;
}