@import "./variables";
body {
    background-color: $standard-secondary-color-light;
}

.standard-card h2 {
    margin: 0;
}

.warning {
    background-color: $standard-secondary-color-dark;
    color: #ffffff;
    .warning-title {
        font-size: 20px
    }
}

.pagination {
    display: flex;
    justify-content: space-between;
}


.mdc-chip {
    background-color: #ffffff;
    border: $border;
    border-radius: $standard-border-radius;
    padding: 0 6px 0 0;
    margin-right: $standard-very-dense;
    margin-bottom: $standard-very-dense;

    .mdc-chip {
        margin: 0;
        padding: 0;
        border: none;
    }

    .mdc-chip__text {
        height: 20px ;
        line-height: 20px;
        margin: 6px 6px 6px 0;
        padding: 0 0 0 6px;
        border-left: $border;
    }

    .mdc-chip__icon,
    .mdc-chip__icon.mdc-chip__icon--leading,
    .mdc-chip__icon.mdc-chip__icon--trailing {
        color: $standard-primary-color-light;
        margin: 6px;
    }

    .mdc-chip__icon--trailing {
        margin-right: 8px;
    }
}

.mdc-chip:first-child {
    margin-left: 0;
}

#-document-list-here {
    .list-document:first-child {
        margin-top: $standard-big;
    }
    .mdc-list-item__graphic {
        margin: 16px;
        border-radius: 100%;
    }
}

#tag-list-here {
    padding: 0;
    .list-tag:first-child {
        margin-top: $standard-big;
    }
}

.list {
    margin-top: $standard-dense;
    word-wrap: break-word;
    border-radius: $standard-border-radius;
    h3 {
        margin: 0;
        padding: $standard-very-dense;
        border-bottom: $border;
    }
}

.mdc-card__actions {
    border-top: $border;
}

.list-content {
    padding: $standard-very-dense;
}

.important-color {
    color: $standard-primary-color !important;
}

.dz-preview {
    display: none;
}

.mdc-typography--overline {
    margin-bottom: 0;
    text-align: center;
    
    b {
        font-size: 1.5em;
    }
}

.mdc-list-item__graphic {
    color: #ffffff;
    margin-right: 16px;
    border-radius: 100%;
}

.mdc-button {

    border-radius: $standard-border-radius;
}

.mdc-text-field {
    border-radius: $standard-border-radius;
}

.mdc-button input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
}

.mdc-drawer__content {
    &>* {
        margin-right: 1em;
        margin-left: 1em;
        display: block;
    }
}

.mdc-top-app-bar__logo {
    height: 48px;
    svg {
        height: 32px;
        margin: 8px;
    }
    path {
        fill: #ffffff;
    }
}

.standard-card {
    padding: $standard-big;
    height: 100%;
    border-radius: $standard-border-radius;
}

.mdc-text-field-helper-text + .standard {
    margin-top: ($standard-big - 25px);
}

.standard {
    margin-top: $standard-big;
}

.standard-dense {
    margin-top: $standard-dense;
}

.standard-very-dense {
    margin-top: $standard-very-dense;
}

.standard-mono {
    font-family: 'Roboto Mono', monospace;
    color: $standard-primary-color-light;
}