$standard-primary-color: #00685b;
$standard-secondary-color: #e57373;

$standard-secondary-color-light: #ffa4a2;
$standard-secondary-color-dark: #af4448;

$standard-primary-color-light: #439688;
$standard-primary-color-dark: #003d32;

$standard-header-breakpoint: 54rem;
$standard-main-max-width: 50rem;

$standard-padding: 32px;
$standard-margin: 32px;

$standard-row-breakpoint: 35rem;
$standard-row-margin: 24px;
