$standard-primary-color: #00685b;
$standard-secondary-color: #e57373;

$standard-secondary-color-light: #ffa4a2;
$standard-secondary-color-dark: #af4448;

$standard-primary-color-light: #439688;
$standard-primary-color-dark: #003d32;

$standard-light-gray: #afafaf;
$standard-dark-gray: #37474f;

$standard-header-breakpoint: 54rem;
$standard-main-max-width: 50rem;

$standard-big: 32px;
$standard-dense: 16px;
$standard-very-dense: 8px;

$standard-row-breakpoint: 35rem;
$standard-row-margin: 24px;

$standard-border-radius: 2px;
$border: 1px solid #e0e0e0;
